html,
body {
  padding: 0;
  margin: 0;
<<<<<<< HEAD
=======
  margin-bottom: 3em;
>>>>>>> origin/main
  font-family: 'Albert Sans', sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
  min-width: fit-content;
<<<<<<< HEAD
  background-color: #f5f7fa;
  min-height: 100vh;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
=======
>>>>>>> origin/main
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  html,
  body {
    margin: 0;
    padding: 0;
  }
}