html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.lauttaEl {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1em;
  text-align: center;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-bottom: 2em;
}

.slider {
  min-width: 200px;
}

.saunaContainer {
  max-width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}

.lauttaEl {
  width: 400px;
}

@media screen and (max-width: 600px) {
  .saunaContainer {
    grid-template-columns: 1fr;
    max-width: fit-content;
  }
}